.loader-center {
  width: 500%;
  display: flex;
  justify-content: center;
}

.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid #fff;
  border-color: #5d1212 transparent #621616 transparent;
  animation: lds-hourglass 1.2s infinite;
}

@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}
body {
  background-color: rgb(3, 147, 244);
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.table-box {
  padding: 20px;
  background-color: white;
  border-radius: 6px;
}

.backdrop {
  display: none;
}
.backdrop.active {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 50%, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-body {
  position: relative;
  max-width: 600px;
  width: 100%;
  padding: 20px;
  background-color: gray;
  border-radius: 6px;
  box-shadow: 1px 2px 14px 2px rgba(0, 0, 0, 0.3);
}

.closeModal {
  position: absolute;
  top: 7px;
  right: 7px;
  border: none;
  background-color: transparent;
  font-size: 30px;
  color: white;
  transition: color 250ms linear;
}
.closeModal:hover {
  color: yellow;
}

.error__message {
  text-align: center;
  color: rgb(254, 253, 253);
}