@import './loadre/loadre';

body{
background-color: rgb(3, 147, 244);
}
.container{
	max-width: 1100px;
	margin: 0 auto;
}
.table-box{
	padding: 20px;
	background-color: white;
	border-radius: 6px;
}


.backdrop{
display: none;
	&.active{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: hsl(0, 0%, 50%, 0.4);
		display: flex;
		align-items: center;
		justify-content: center;

	}
}
.modal-body {
	position: relative;
	max-width: 600px;
	width: 100%;
	padding: 20px;
	background-color: gray;
	border-radius: 6px;
	box-shadow: 1px 2px 14px 2px rgb(0, 0, 0, 0.3);

}

.closeModal{
	position: absolute;
	top: 7px;
	right: 7px;
	border: none;
	background-color: transparent;
	font-size: 30px;
	color: white;
	transition: color 250ms linear;
	&:hover{
		color: yellow;
	}
}
//Error message
.error__message{
	text-align: center;
	color: rgb(254, 253, 253);
}